.node-info-panel {
  width: 100%;
  height: 120px;
  margin-top: 20px;
  background-color: #ffffff;
  border-radius: 6px;
}

.node-info {
  display: flex;
  justify-content: space-around;
}

.node-info li {
  padding: 32px 0;
}

.node-info li p {
  text-align: center;
}

.node-info li p:nth-child(1) {
  font-family: PingFangSC-Semibold;
  font-size: 18px;
  color: #333443;
  letter-spacing: 0.68px;
  line-height: 28px;
}

.node-info li p:nth-child(2) {
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #868788;
  letter-spacing: 0.53px;
  line-height: 20px;
  margin-top: 8px;
}
