.summary {
  display: flex;
  justify-content: space-between;
}

.summary-block {
  position: relative;
  /* display: flex;
  flex-direction: column; */
  width: 310px;
  height: 160px;
  padding: 20px;
  border-radius: 6px;
  color: #ffffff;
}

.summary-block:nth-child(1) {
  background-image: linear-gradient(
    90deg,
    rgba(19, 19, 19, 1) 0%,
    rgba(49, 49, 49, 0.9) 100%
  );
}

.summary-block:nth-child(2) {
  background-image: linear-gradient(
    90deg,
    rgba(49, 49, 49, 0.9) 0%,
    rgba(82, 82, 82, 0.9) 100%
  );
}

.summary-block:nth-child(3) {
  background-image: linear-gradient(
    90deg,
    rgba(82, 82, 82, 0.9) 0%,
    rgba(144, 144, 144, 0.8) 100%
  );
}

.summary-block::before {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  content: '';
  height: 100%;
  width: 100%;
  background-image: url('../../assets/background@3x.png');
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: bottom 5px right 30px;
}

.summary-label {
  font-size: 18px;
  text-align: justify;
  margin-top: 14px;
  font-weight: bold;
  line-height: 1.5715;
}

.summary-amount {
  font-size: 16px;
  color: #ffffff;
  line-height: 1.5715;
}

.summary-amount-positive {
  font-family: PingFangSC-Semibold;
  color: #47d78f;
}

.summary-amount-unit {
  color: #ffffff;
  margin-left: 8px;
  font-size: 12px;
}

.summary-conversion-btn {
  position: absolute;
  display: inline-block;
  width: 36px;
  height: 36px;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  background-image: url('../../assets/conversion.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: #525252;
}

.summary-badge {
  position: absolute;
  top: 13px;
  right: -2px;
  font-size: 12px;
  text-align: right;
  padding: 5px 16px;
  color: #ffffff;
  background-image: linear-gradient(90deg, #0080ff 1%, #00a7ff 100%);
  border-radius: 14px 3px 3px 14px;
}
